{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% block head %}
    <head>
        <style>
            #auctionimg {
                width: 200px;
                height: 200px;
                }

            #auctionimg img {
                width: 100%;
                height:100%;
                object-fit: cover;
                }
        </style>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>BlockChain Auctions</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'dist/assets/img/favicon.ico' %}"/>
        <link href="{% static 'dist/css/styles.css' %}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <script language="Javascript">
            function popup(url, h, w) {
                var popTop = Math.floor((screen.height-h)/2);
                var popLeft = Math.floor((screen.width-w)/2);
                window.open(url, "popup", "height="+h+",width="+w+",top="+popTop+",left="+popLeft+",toolbar=no,menubar=no,status=no,scrollbars=no")
            }
        </script>
    </head>
    {% endblock %}
    {% block body %}
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="">BlockAuctions</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i> {{user}}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="profile">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="logout">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i> Visitor</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="login">Login</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="registration">Register</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu"><br><br>
                        <div class="nav">
                            <a class="nav-link" href="publish">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Publish
                            </a>
                        </div>
                    </div>
                </nav>
            </div>



            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 align="middle" class="mt-4">Auctions</h1>
                        <hr>
                        {% if auctionsLenght == 0 %}
                        <h3 align="middle">There aren't any active auctions now!</h3>
                        {% else %}
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Active</li>
                        </ol>

                        <div class="row">{% for auction in auctionsActive %}
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">
                                        <center>
                                            <h3>{{auction.title}}</h3>
                                            <hr>
                                            <div id="auctionimg">
                                            <img src="media/{{auction.image}}"></div>
                                            <hr>
                                            Advertiser : {{auction.advertiser}}
                                            <hr>
                                            Price : {{auction.endPrice}}
                                        </center>
                                    </div>
                                    {% if user.is_authenticated %}
                                    <div class="card-footer d-flex  justify-content-between">
                                        <a style="display: block; margin: 0 auto; width: auto;" class="btn btn-success" href=javascript:popup("{{ auction.get_absolute_url }}","600","300")>View Details</a>
                                    </div>
                                    {% else %}
                                    {% endif %}
                                </div>

                            </div>

{% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="container-fluid">
                        <hr>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Expired</li>
                        </ol>
                        <hr>
                        <div class="row">
                            {% for auction in auctionsExpired %}
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">
                                        <center>
                                            <h3>{{auction.title}}</h3>
                                            <hr>
                                            <div id="auctionimg">
                                            <img src="media/{{auction.image}}"></div>
                                            <hr>
                                        Advertiser : {{auction.advertiser}}
                                        <hr>
                                        Price : {{auction.endPrice}}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </main>
            </div>
        </div>
{% endblock %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'dist/js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'dist/assets/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'dist/assets/demo/chart-bar-demo.js' %}"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'dist/assets/demo/datatables-demo.js' %}"></script>
    </body>
</html>
