{% extends 'index.html' %}
{% load static %}
{% block body %}

<body class="sb-nav-fixed">

        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="../">BlockAuctions</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            </form>

            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i> {{user}}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="profile">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="logout">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i> Visitor</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="login">Login</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="registration">Register</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </nav>

        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu"><br><br>
                        <div class="nav">
                            <a class="nav-link" href="publish">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Publish
                            </a>
                        </div>
                    </div>
                </nav>
            </div>

            <div id="layoutSidenav_content">
                <main>
                    <div align="middle" class="container-fluid">
                        <h1 align="middle" class="mt-4">Profile</h1>
                        <hr>
                                    <div class="card bg-info text-white mb-4" align="middle">
                                        <div class="card-body">
                                            Username : {{profile.user}}
                                            <hr>
                                            Auctions Won :
                                            <br>
                                            <br>
                                            {{profile.auctionsWon}}
                                            <hr>
                                            Auctions Published :
                                            <br>
                                            <br>
                                            {{profile.auctionsPublished}}
                                        </div>
                                    </div>
                                    <div class="card bg-info text-white mb-4">
                                        <div class="card-body" align="middle">
                                        Do you want to download data about all the auctions completed on the site? Click on the below button and check the Json file in the report path of the project!<hr>
                                            <form method="POST">
                                            {% csrf_token %}
                                                <button style="display: block; margin: 0 auto; width: auto;" type="submit" href="" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i>  Generate Report! </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
</body>

{% endblock %}